*{
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}
body{
    background-color: #052c6f;
}

#bg{
    background-color: #052c6f;
    display: block;
    min-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    position: fixed;

}

video{
    object-fit: cover;
}
@media (min-aspect-ratio: 16/9){
    #bg{
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    #bg{
        width: 100%;
        height: 100%;
    }
}

.content img{
    position: absolute;
    top: 30%;
    left: 48.90%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    z-index: 1;
}


.content .btn1{
    position: absolute;
    top: 54%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 50px;
    z-index: 1;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 #ffff;
    transition: ease-out 0.25s;
    outline: none;
}

.content .btn1:hover{
    box-shadow: inset 110px 0 0 0 #ffff;
    color: #052c6f;
    font-size: 21px;
}

.content .btn2{
    position: absolute;
    top: 54%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 50px;
    z-index: 1;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 21px;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 #ffff;
    transition: ease-out 0.25s;
    outline: none;
}

.content .btn2:hover{
    box-shadow: inset 110px 0 0 0 #ffff;
    color: #052c6f;
    font-size: 21px;
}

.containerBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}


@media (min-aspect-ratio: 16/9){
    .content{
        width: 50%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .content{
        width: auto;
        height: 50%;
    }
}

.nav-item:hover{
    background-color: #052c6f;
    cursor: pointer; 
}