    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center pb-3">
      
                  <h3 class="mb-5">Sign in</h3>
      
                  <div class="form-outline mb-4">
                    <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="User"  [(ngModel)]="nome"/>
                  </div>
      
                  <div class="form-outline mb-5">
                    <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="password"  [(ngModel)]="password"/>
                  </div>
      
                  <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="abilita()">Login</button>
                </div>
                <h1 class="form-text text-center fs-3 text pb-3 text-danger">{{testoBottone}}</h1>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div id="bg">
        <video autoplay loop muted preload="auto" width="100%" height="100%">
          <source src="https://www.dreamworks.com/storage/movies/how-to-train-your-dragon/hero.mp4" type="video/mp4">
        </video>
      </div>
