*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

.nav-item{
    width: 100px;
    box-shadow: inset 0 0 0 0 #052c6f;
    transition: ease-out 0.2s;
    outline: none;
}

.nav-item:hover{
    box-shadow: inset 100px 0 0 0 #052c6f;
    cursor: pointer;
}

#sfondoImg{
    background-color: #ba261c;
}

#scritta{
    text-color: #052c6f;
    
}

a:hover{
    color: #ffffff;
}